body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #faedcd;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 0 20px;
}
h1 {
    font-size: 32px;
}
p {
    font-size: 18px;
    line-height: 1.6;
}
button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}

.custom-select {
    display: inline-block; /* Pour que le menu occupe seulement l'espace nécessaire */
}


  
  