body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #faedcd;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 0 20px;
}
h1 {
    font-size: 32px;
}
p {
    font-size: 18px;
    line-height: 1.6;
}
button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}

.maze {
    display: grid;
    grid-template-columns: repeat(10, 40px); /* 10 colonnes de 40px chacune */
    gap: 2px; /* Espace entre les cellules */
    margin-bottom: 20px;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: #ffffff; /* Couleur de fond par défaut */
    border: 1px solid #000000; /* Bordure noire */
}

.cell.wall {
    background-color: #000000; /* Couleur de fond pour les murs */
}
