#mazeContainer {
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
    top: 75px;
    opacity: 0;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    margin: auto;
  }
  #mazeContainer #mazeCanvas {
    margin: 0;
    display: block;
    border: solid 1px black;
  }